body {
  margin: 0;
  background: #0e121d;
  color: #fff;
}

.holiday-card {
  height: 80vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vw;
  .holiday-card--picture {
    * {
      top: 0;
      left: 0;
      width: 100vw;
      min-width: 600px;
      image-rendering: optimizeSpeed; // for firefox
      image-rendering: pixelated; // for chrome
    }
    img {
      position: relative;
    }
    & > .background_animation,
    .foreground_animation {
      &,
      * {
        position: absolute;
      }
      & > canvas {
        overflow: hidden;
      }
    }
  }
  .holiday-card--message {
    margin: 1em;
    min-height: 5em;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    * {
      text-align: center;
    }
    .holiday-card--message_fixed {
      font-size: 2em;
    }
    .holiday-card--mesage_dynamic {
      font-size: 1.5em;
      width: 100%;
    }
  }
}
